<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome <%= @user.username %>!</h1>
  <p>You have successfully signed up for an account!</p>
  <p>To login, just follow this link: <a href="<%= @url %>"><%= @url %></a></p>
  <p>Thanks for joining and have a great day!</p>
</body>
</html>