<section class="section">
  <div class="container">
    <div class="content">
      <h1>Find Friends</h1>
      <% @users.each do |user| %>
        <% unless
            user == current_user ||
            current_user.friends.include?(user) ||
            current_user.requested_friends.include?(user) ||
            current_user.requesting_friends.include?(user) %>
          <div class="level">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <p class="image is-square is-48x48">
                  <%= image_tag(profile_pic(user), class: "is-rounded") %>
                </p>
              </div>
              <div class="level-item">
                <p><strong><%= link_to user.username, user %></strong></p>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <p class="level-item">
                <%= link_to "Invite", requests_path(:invitee => user.id), :method => :post, class: "button is-success" %>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>