<h1>Timeline</h1>

<div data-controller="visibility">
  <button data-action="visibility#toggleTargets">New Post</button>
  <div data-visibility-target="hideable" hidden>
    <%= render "post_form" %>
  </div>
</div>

<%= render 'posts' %>